/* CSS COOL EFFECT 
  - https://css-tricks.com/animate-a-container-on-mouse-over-using-perspective-and-transform/
  - https://codepen.io/MihaiIonescu/pen/MrLopq 
*/

:root{
  --black : rgb(22, 22, 22);
  --grey: grey;
  --white: rgb(255, 255, 255);

  --fs-small : 1em;
  --fs-medium : 2em;
  --fs-large  : 3em;
}


/* .selector{
  font-size: var(--fs-large);
} */




/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
    display: inline;
    width: initial;
  } */
/* Configuramos la tipografía para toda la web */
body {
  background: rgb(22, 22, 22);
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  font-family: Helvetica, Montserrat, sans-serif;
  color: var(--negro);
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

/***************** HEADER *****************/
.header{
  width: 100%;
  background: var(--black);

  position: fixed;
  top: 0;
  z-index: 3;
}
.header__section{
  width: 80%;
  max-width: 1200px;
  margin: auto;
  background-color: var(--black);
  padding: 1em 0;
  border-bottom: 1px solid white;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.strong{
  font-weight: bold;
}
.header__h1{
  color: var(--white);
  font-size: 2em;
  font-weight: 100;
}
nav{
  color: #fff;
}
.nav-links {
    display: flex;
    text-transform: uppercase;
}
.header__li{
  margin-left: 1em;
  cursor: pointer;
}

.nav-links a:hover{
  color:#38b8ff;
}
.burger{
  display: none;
}
.burger div{
  width: 25px;
  height: 3px;
  background: #fff;
  margin: 5px;
  transition:all 0.5s ease;
}
@media only screen and (max-width: 760px){
   nav{
    justify-content: space-between;
    padding: 0 5vw;
  }
  .nav-links{
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    background: #333;
    opacity: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* align-items: center; */
    width: 70%;
    padding: 20% 10%;
    transform: translateX(100%);
    transition: All 0.5s ease-in;
  }
  .nav-links a{
    opacity: 0;
 
  }
  .burger{
    display: block;
  }
 
}
@media only screen and (max-width: 640px){
  nav{
    justify-content: space-between;
    padding: 0 5vw;
  }
}
.nav-active{
  transform: translateX(0);
}
@media only screen and (max-width: 460px){
  .nav-links{
    width: 100%;
    transition:All 0.5s ease;
  }
}
.nav-active{
  transform: translateX(0);
}
@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}
.toggle .line1{
   transform: rotate(-45deg) translate(-5px,6px );
}
.toggle .line2{
   opacity: 0;
}
.toggle .line3{
   transform: rotate(45deg) translate(-5px,-6px );
}

/***************** MAIN *****************/
.main{
  background-color: var(--black);
  width: 100%;
}
.main__splash{
  margin-top: 7rem;
} 
.main__wrapper{
  width: 80%;
  max-width: 1200px;
  margin: auto;
}
.main__h2{
  margin: 1em 0;
  color: var(--white);
  font-size: 4em;
  text-transform: uppercase;
}
.main__div{
  /* background-color: chocolate; */

  position: relative;
}
.main__reel{
  border-radius: 3em 3em 0 0;
}
.main__scroll{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  position: absolute;
  bottom: 0;
  left: calc( 50% - 1.8em);
  /* transform: translate(-50%, -50%); */
}
.main__arrow{
  width: 1em;
  margin-bottom: 1em;

}
.main__h3{
  font-size: 0.5em;
  text-transform: uppercase;
}

.main__ul{
  background-color: var(--black);
  width: 80%;
  max-width: 1200px;
  margin: auto;
  padding: 1em 0;
  border-bottom: 1px solid white;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.main__li{
/* background-color: yellowgreen; */
/* margin: 0 1em; */
}
.main__img{}














@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-250px * 7));
	}
}

.slider {
	background: black;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 80%;
  max-width: 1200px;
  background-color: white;
}

.slider::before,
.slider::after {
	content: "";
	height: 100px;
	position: absolute;
	width: 200px;
	z-index: 2;
}

.slider::after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
}

.slider::before {
	left: 0;
	top: 0;
}

.slide-track {
	animation: scroll 40s linear infinite;
	display: flex;
	width: calc(250px * 14);
}

.slide {
}


/***************** PORTFOLIO *****************/
.porfolio{
  color: var(--white);
  width: 80%;
  max-width: 1200px;
  margin: auto;
  padding: 1em 0;
  border-bottom: 1px solid white;

  padding-top: 4.5em;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.porfolio__span{
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: bold;
}
.porfolio__ul{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.porfolio__li{
  margin-left: 1em;

  cursor: pointer;
}

/***************** GRID *****************/
.grid{
  /* background-color: lime; */
  width: 80%;
  max-width: 1200px;
  margin: auto;
  padding: 1em 0;
}
.grid__ul{

  display: grid;
  grid-template-columns: repeat( 4, 1fr );
  grid-template-rows: repeat( 7, 1fr );
  gap: 1em;

}
.grid__li{
  cursor: pointer;
  width: 100%;
  position: relative;

  
}
.grid__picture:hover{
  transform: scale(0.95); 
}
.grid__picture{
  height: 100%;
}
.grid__img{
  height: 100%;
  transition: all .8s ease;
}
.grid__img:hover{ 
  transform: scale(0.95); 
}

.grid__description{
  width: 100%;
  height: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding-top: 35%;

  position: absolute;
  opacity: 0;

  transition: all .5s ease;
}
.grid__li:hover .grid__description{
  opacity: 1;
}
.proj1{
  background-color: floralwhite;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}
.proj2{
  background-color: rebeccapurple;
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}
.proj3{
  background-color: green;
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}
.proj4{
  background-color: blue;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
.proj5{
  background-color: green;
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}
.proj6{
  background-color: yellow;
  grid-column: 4 / 5;
  grid-row: 2 / 4;
}
.proj7{
  background-color: red;
  grid-column: 1 / 2;
  grid-row: 4 / 6;
}
.proj8{
  background-color: blue;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}
.proj9{
  background-color: rebeccapurple;
  grid-column: 2 / 3;
  grid-row: 5 / 6;
}
.proj10{
  background-color: ghostwhite;
  grid-column: 3 / 5;
  grid-row: 4 / 6;
}
.proj11{
  background-color: white;
  grid-column: 1 / 3;
  grid-row: 6 / 7;
}
.proj12{
  background-color: red;
  grid-column: 3 / 4;
  grid-row: 6 / 7;
}
.proj13{
  background-color: yellow;
  grid-column: 4 / 5;
  grid-row: 6 / 8;
}
.proj14{
  background-color: navajowhite;
  grid-column: 1 / 2;
  grid-row: 7 / 8;
}
.proj15{
  background-color: beige;
  grid-column: 2 / 4;
  grid-row: 7 / 8;
}

.about{
/* background-color: royalblue; */
width: 80%;
max-width: 1200px;
margin: auto;
padding: 1em 0;
border-top: 1px solid white;
border-bottom: 1px solid white;
padding-top: 4.5em;
}
.about__span{
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: bold;
  color: var(--white);
}

.oculto{
  display: none;
}

.active{
  display: grid;
  grid-template-columns: repeat( 2, 1fr );
  grid-template-rows: auto;
}

.active>*{
  grid-column: initial;
  grid-row: initial;
}

ul img.grid__img_square{
  display: none;
}
ul.active img.grid__img_square{
  display: block;
}
ul.active img.grid__img{
  display: none;
}

/***************** EXPERIENCE *****************/
.experience{
  width: 80%;
  max-width: 1200px;
  margin: 1em auto;
  border-radius: 0 0 3em 3em;

  display: grid;
  grid-template-columns: repeat( 2, 1fr );
  position: relative;
  background-image: url(../assets/ricardo.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.experience__box{
  position: relative;
  
}
.image{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../assets/ricardo.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.experience__div{
  color: white;

  grid-column: 2 / 3;
  padding: 5em;
  z-index: 2;
}
.experience__span{
  font-size: 3em;
  font-weight: bold;
  }
.experience__ul{
  margin-top: 2em;
}
.experience__li{
  margin-bottom: 2em;
}
.experience__p{
  font-weight: 300;
}
.experience__li{
  font-weight: bold;
}
.experience__button{
  width: 100%;
  padding: 1rem;
  margin-top: 5rem;
  border-radius: 10em;
  border: solid 1px white;
  cursor: pointer;
}


/***************** FOOTER *****************/
.footer{
  background: var(--black);
  margin-top: 2em;
}
.footer__wrapper{
  background-color: var(--black);
  width: 80%;
  max-width: 1200px;
  margin: auto;
  color: var(--white);
  padding: 1em 0;
  border-top: 1px solid white;


  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.footer__legals{}
.footer__ul{
  /* margin-right: 10%; */

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.footer__li{
  margin-right: 1em;
  cursor: pointer;
}

.footer__span{
  display: inline;
}
.footer__icon{
  width: 1.5em;
  display: none;
}



/***************** RESPONSIVE *****************/
@media screen and (max-width: 800px) {
  .main__wrapper, .porfolio, .slider, .grid, .header__section, .about, .experience, .footer__wrapper{
    width: 95%;
  }
  .header__ul{
    display: none;
  }
  .header__burguer{
    display: block;
  }

  .main__reel {
    border-radius: 0.5em 0.5em 0 0;
  }  
  .experience {
    border-radius: 0 0 0.5em 0.5em;
  }
  .grid__ul{
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;

      flex-basis: 100%;
    }

    .contact{
      padding: 5rem 0;
    }
  
    .contact__input{
      width: 100%;
      margin: 0.5rem 0;
    }
  
    .contact__submit{
      width: 100%;
      margin: 0.5rem 0;
    }
  
    .contact__textarea {
      width: 100%;
  }

  .grid__description{
 
    padding-top: 20%;
  }

  .experience {
    grid-template-columns:  1fr;
  }

  .footer__span{
    display: none;
  }
  .footer__icon{
    display: inline;
  }

  .experience__div {
    padding: 2em 1em;
}
}